section.copyright
  | &copy; 2016 -
  = full_date(new Date(), ' YYYY')
  a(href= config.root)= config.author
section.intro
  | 由
  a(href='https://hexo.io/') Hexo
  | 驱动&middot;挂载
  a(href='https://github.com/xadillax/hexo-xnew') X'new
  | 主题
  if config.feed && config.feed.url
    | &middot;
    a(href= config.feed.url) RSS Feed
  br
  a(href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802028993', target="_blank")
    img(src='http://www.beian.gov.cn/img/new/gongan.png')
    | 京公网安备 11010802028993号
  | &emsp; 京ICP备2020046328号